{% extends 'CrmMainBundle::layout.html.twig' %}

{% block title %}
    <title>404 - Страница не найдена</title>
{% endblock %}

{% block content %}
<h2>Ошибка  "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}