<div style="text-align: right; width: 250px">
    В ООО Ромашка<br/>
    <span>наименование организации-изготовителя карт</span><br/>
    <br/>
    от водителя<br/>
    Иванов <br/>
    Иван<br/>
    Иванович<br/>
    <span>Ф.И.О.</span><br/>
    <br />
    В ООО Ромашка<br/>
    <span>наименование транспортного предприятия</span><br/>
    <br/>
</div>

<div style="text-align: center">
    <h1>Заявление</h1><br/>
    <h2>на выдачу (обновление) карты водителя</h2>
</div>
<br/>
<div style="text-align: justify">
    <p>
        Прошу выдать/обновить в связи с истечением срока действия <i>(нужное подчеркнуть)</i> мне карту водителя для использования при осуществлении автомобильных перевозок.
    </p>
    <p>
        Для выдачи (обновления) карты предоставляю следующую информацию:
    </p>

    <p>
        - Номер ранее выданной карты: RUD
    </p>
    <p>
        - Ф.И.О.:
    </p>
    <p>
        - Почтовый адрес транспортного предприятия:
    </p>
    <span>(индекс, страна, край/область, населенный пункт (город, село и т.п.), улица, дом, офис)</span>

    <p>
        - Страховой номер индивидуального лицевого счета:
    </p>
    <p>
        - Дата рождения:
    </p>
    <p>
        - Серия, номер паспорта, кем и когда выдан, код подразделения: <br/>
        выдан <br/>
        серия номер дата выдачи <br/>
        код подразделения <br/>
    </p>
    <p>
        - Наименование организации, выдавшей водительское удостоверение, номер водительского удостоверения, кем и когда выдано:<br/>

        Серия номер выдано
    </p>
    <p>
        - наименование страны, выдавшей водительское удостоверение
    </p>
    <p>
        - контактная информация: тел.
    </p>
    <p>
        e-mail
    </p>
    <p>
        - другая контактная информация
    </p>
    <p>
        Данным заявлением подтверждаю свое согласие на:<br/>
        обработку моих персональных данных, указанных в заявлении на выдачу (обновление) карты водителя;<br/>
        выполнение установленных требований по использованию карты водителя, являющейся средством криптографической защиты, с момента ее получения до окончания срока действия.<br/>
        Обязуюсь:<br/>
        не передавать карту третьим лицам, не уполномоченным на ее использование;<br/>
        возвратить карту в организацию по выдаче карт в случае возникновения обстоятельств, делающих невозможным применение карты в соответствии с ее назначением.<br/>
        Копия платежного документа об оплате стоимости изготовления карты прилагается.<br/>
        Оплату услуг по доставке и выдаче карты гарантирую.<br/>
        Указанные в заявлении сведения подтверждаю следующими документами, прилагаемыми к заявлению:<br/>
    </p>



    <p>
        1. Копия паспорта.
        2. Копия водительского удостоверения.
        3. Справка с места работы (ходатайство о выдаче карты водителя).
        4. Фотография водителя.
    </p>
    <table>
        <tr>
            <td>
                <img src="#"><br/>
                <span>Место для фотографии</span>
            </td>
            <td>
                <img src="#"><br/>
                <span>Место для подписи</span><br/>
                <span><b>Примечание: подпись должна иметь четкие, хорошо различимые линии, ставиться черными чернилами, занимать 80% выделенной области и не выходить за пределы рамки.</b></span>
            </td>
        </tr>
    </table>
</div>


